<header class='navbar bg-primary'>
    <section class='navbar-section'>
    </section>
    <section class='navbar-center'>
        <h2 class='text-head'>Note That Article</h2>
    </section>
    <section class='navbar-section'>
    </section>
</header>