<header class='navbar bg-primary'>
    <section class='navbar-section'>
        <div class='container grid-lg'>
        <a href='/' style='color: white;' class='navbar-brand'><h2 class='text-head'>Note That Article</h2></a>
        </div>
    </section>
</header>