<header class='navbar bg-primary'>
    <section class='navbar-section'>
        <div class='container grid-lg'>
        <h2 class='text-head'>Note That Article</h2>
        </div>
    </section>
</header>