{{!-- Headline: title of the article --}} 
{{!-- Summary: short summary of the article --}} 
{{!-- URL: the url of the original
article --}} 
{{!-- Able to leave comments on the articles displayed and 
revisit them later and able to delete comments POPULATE??--}}}


<div>
    <p>WELCOME!!</p>
</div>