{{!-- <div class='home'> --}}
{{> navbar}}
  <div class='container grid-md'>
    <div class='box bg-gray text-center'>
        <p class='home-text'>See the top news from XX and make notes in them! </p>
        <a href='/articles' class='btn'>
            Get Started
        </a>
    </div>
  </div>
{{!-- </div> --}}

